@keyframes rotate {
  0% {
    transform: rotate3d(0, 1, 0, 0turn);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0.5turn);
  }
}

.box {
  width: 5rem;
  height: 6rem;
  animation: 0.7s ease-in rotate forwards;
  position: relative;
  transform-style: preserve-3d;
  color: white;
  border: 1px solid hsla(0,0%,100%,.59);
  &__front {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
  }
  &__back {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 6px #000;
    text-shadow: 0 0 3px #000;
  }
}


.cardcontentdown {
  position:absolute;
  top:1px;
  left:0;
  width:100%;
  clip-path:polygon(97% 60%,80% 60%,80% 5%,20% 5%,20% 60%,3% 60%,50% 95%);
  -webkit-clip-path:polygon(97% 60%,80% 60%,80% 5%,20% 5%,20% 60%,3% 60%,50% 95%);
  height:100%;
  background:rgba(0,0,0,.5);
  content:"";
  z-index:-1;
  opacity:1;
  transition:background-color .3s ease
}

.cardcontentup {
  position:absolute;
  bottom:1px;
  left:0;
  width:100%;
  clip-path:polygon(97% 40%,80% 40%,80% 95%,20% 95%,20% 40%,3% 40%,50% 5%);
  -webkit-clip-path:polygon(97% 40%,80% 40%,80% 95%,20% 95%,20% 40%,3% 40%,50% 5%);
  height:100%;
  background:rgba(0,0,0,.5);
  content:"";
  z-index:-1;
  opacity:1;
  transition:background-color .3s ease
}

.cardcontent {
  position:absolute;
  width:100%;
  height:100%;
  content:"";
  z-index:-1;
  opacity:1;
  left:0;
}

